.container-projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.container-projects > h2 {
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 1.7rem;
    width: 100%; 
    text-align: center;
    flex-shrink: 0; 
}

.container-project {
    width: 18rem;
    height: auto;
    background-color: azure;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    border-radius: 0.6em;
    margin-bottom: 1rem;
    cursor: pointer;
}

.container-project > p {
    padding: 0.4rem;
}

.container-projects > a {
    text-decoration: none;
    display: block;
    height: 100%;
    color: black;
}

.container-img {
    width: 100%;
    height: 50%;
}

.img-project {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-name {
    margin-right: 4.5rem;
    text-transform: uppercase;
    padding: 0.4rem;
    color: black;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.icon-github {
    color: black;
    margin-right: 0.4rem;
}

.description {
    font-family: "Poppins", sans-serif;
}

@media (min-width: 483px) and (max-width: 821px) {
    
    .container-projects {
        display: flex;
        flex-wrap: wrap;  
        flex-direction: row; 
        justify-content: center; 
        align-items: flex-start; 
    }

    
    .container-projects > h2 {
        font-size: 2rem;
        flex-shrink: 0;  
        text-align: center; 
    }

    
    .container-project {
        margin: 1rem; 
        height: 21rem;
        flex-direction: column;
    }

    .container-project > a{
        height: 100%;
    }
}
